.movie_container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.sideBar{
    width: 100%;
    height: 100vh;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 1px;
    border-color: rgb(179, 177, 177);
    /* border-left-style: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-around;
}
.main_pic{
    display: block;
    width: 100%;
    height: 50%;
    border-radius: 40px;
    background-size: cover;
}
.main_bottom{
    display: flex;
}

.mainFeed{
    padding: 20px;
    height: 100vh;
}

ul li{
    list-style-type: none;
}

.logo__icon{
    width: 40px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}
.menuOptions > ul > li img {
    margin-right: 10px;
}
.menuOptions ul li{
    padding: 25px;
   
}
.div{
    width: 80%;
    border: 1px solid  rgb(214, 11, 11);
    margin: 0 auto;
    background-color:  rgb(255, 211, 211);
    border-radius: 30px;
    padding: 20px 10px;

}
.main_bottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
.btn{
    display: block;
    margin-bottom: 10px;
    padding: 10px 10px;
    width: 70%;
    border: 1px solid  rgb(214, 11, 11);
}
.menuOptions ul li:hover{
    background-color: rgb(214, 11, 11);
    color: white;
}

.logOut{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.overview{
    line-height: 25px;
    padding-right: 15px;
}
.h2{
    font-weight: bold;
}
.Link{
    text-decoration: none;
    color: black;
}
.div p{
    font-weight: bold;
}
.div button{
    padding: 2px 5px;
    background-color: rgb(247, 158, 158);
    border: none;
    outline: none;
    border-radius: 10px;
    color: rgb(245, 39, 39);
}
.pale_red{
    background-color: rgb(247, 158, 158);
}
.details span{
    display: inline-block;
}
.details{
    display: flex;
    gap: 10px;
}


@media(max-width: 654px){
    .hide{
        display: none;
    }
    .movie_container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100vh;
    }
    .main_pic{
        background-position: center;
    }
    .main_bottom{
        display: flex;
        flex-direction: column;
    
    }
   
}